* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Garante que o preenchimento/padding seja incluido no calculo da largura
    evi tando que o conteudo ultrapasse a tela */
}

html {
    width: 100%;
    height: 100vh;
}

header {
    box-shadow: 0 0.21rem 0.5rem white;
    /* Primeiro valor da sombra na direita (0)
    segundo valor sombra bottom (0.21rem) 
    Terceiro valor gradiant da sombra (0.5rem)*/
    padding: min(5vh, 4rem);
    /* Ajustando o padding para ser mais flexivel */
    background-color: #adeada;
    width: 100%;
    /* Colocamos a largura para 100% do espaço disponivel */

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Aqui começamos o posicionamento do Header */

    position: sticky;
    /* Posicionamento do Header usando stick, sendo um posicionamento fixo,
    porem distinto do Fixed */
    top: 0;
    /* Espaçamento superior zerado, fazendo com que o header
    fique grudado no topo */
    left: 0;
    /* Espaçamento a esquerda zerado, fazendo com que o header fique
    grudado a esquerda ! */
    z-index: 999;
    /* Eixo de profundidade (Eixo cartesiano) */
}

header i {
    color: rgb(0, 0, 0);
    font-size: 5em;
}

header button {
    width: 13rem;
    height: 1.5rem;
    background-color: aquamarine;
    padding: 1.2rem;
    border-radius: 1rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.section-01 {
    background: linear-gradient(180deg, #adeada 8.33%, #8ae4c6 100%);
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}

.section-02 {
    background: linear-gradient(180deg, #8ae4c6 8.33%, #ceece4 100%);
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}

.div-02 img {
    width: 600px;
    margin: rem auto;
    display: block;
    border-radius: 5px;

}

footer {
    padding: min(5vh, 4rem);
    background-color: #cdeadc;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 0.21rem 0.5rem
}

footer i {
    color: white;
    font-size: 30px;
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    align-items: left;
}

footer i:hover {
    background-color: rgb(17, 58, 194);
    transition: 0.5s;
    cursor: pointer;
}

.div-text p {
    color: black;
    margin: 20px;
    font-size: 1.5rem;
    padding: 1.5rem;
}

.div-pai {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    margin-bottom: 10rem;
    flex-wrap: wrap;
    z-index: 1;
}

.caixa {
    position: relative;
    width: 200px;
    height: 380px;
    margin: 30px;
    box-shadow: 20px 20px 50px #2e3715;
    border-radius: 15px;
    background: #fffff1;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
}

.conteudo {
    padding: 20px;
    text-align: center;
    transform: translateY(50px);
    opacity: 0.2;
    transition: 0.5s;
}

.conteudo:hover {
    transform: translateY(0px);
    opacity: 1;
}

.section-03 {
    background: linear-gradient(180deg, #ceece4 8.33%, #8ae4c6 100%);
    padding: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.whatsapp {

    position: relative;
}

.whatsapp img {
    position: fixed;
    width: 3rem;
    height: auto;
    right: 20px;
    bottom: 20px;
}

@media (max-width: 830px) {

    .header button {
        width: 10rem;
        height: 0.8em;
        background-color: #8ae4c6;
        border-radius: 1rem;
        padding: 1.3rem;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-01 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9rem;
    }

    .section-02 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 9rem;
    }

    .div-02 img {
        margin: 0 auto;
        width: 20rem;
    }

    .div-text p {
        font-size: 1.6rem;
        line-height: 1.5;
        text-align: left;
        width: 100%;
        margin: 1em;
    }



    .whatsapp img {

        width: 2rem;
        height: auto;

    }


}